/*Active link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active ,
.option-box .gear-check{
  background-color: #0895d1;
}
 /*links when hover */
 .navbar-inverse .navbar-nav > li > a:hover , 
 .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-nav > .active > a:hover ,
  .navbar-brand span ,
  .about h1 span ,
  .about h3 span ,.testmounials span ,
  .footer h3 ,
  .footer .copyright span,
  #scroll-top{
     color:#0895d1 ;
 }
 /*start dropdown-menue style */
 .dropdown-menu{
   border-top: 3px solid #0895d1;
}
.option-box .color-option ,
.testmounials .carousel-indicators li.active{ border: 2px solid #0895d1}

.dropdown-menu .divider{
  background-color: #0a0829;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: #0895d1;
}